:root {
  --account-menu-link-padding-x: var(--f-length-2);
  --account-menu-link-padding-y: var(--f-length-2);
  --account-menu-link-hover-background: var(--f-color-background-light);
  --account-menu-link-font-size: var(--f-text-m-font-size);
  --account-menu-link-text-transform: uppercase;
  --account-menu-link-letter-spacing: normal;
  --account-menu-link-font-family: var(--f-font-family-text);
  --account-menu-link-font-weight: 500;
  --account-menu-link-gap: var(--f-length-1);
  --account-menu-link-icon-size: var(--f-length-2);
}
