:root {
  --card-title-font-family: var(--f-font-family-text);
  --card-title-font-weight: 600;
  --card-title-letter-spacing: normal;
  --card-title-lg-font-size: #{px-rem(15px)};
  --card-title-md-font-size: #{px-rem(15px)};
  --card-title-sm-font-size: #{px-rem(15px)};
}
