:root {
  --f-discount-tag-color: var(--f-color-text-dark);
  --f-discount-tag-background: var(--f-color-background-very-light);
  --f-discount-tag-border: var(--f-color-border);
  --f-discount-tag-padding-x: var(--f-length-1);
  --f-discount-tag-height: var(--f-length-3);
  --f-discount-tag-border-radius: var(--f-length-3);
}
