:root {
  --f-field-title-font-family: var(--f-font-family-text);
  --f-field-title-font-size: var(--f-text-s-font-size);
  --f-field-title-text-transform: none;
  --f-field-title-font-weight: 700;
  --f-field-title-letter-spacing: normal;
  --f-field-title-color: var(--f-color-text-dark);
}
