:root {
  --f-progress-bar-color-primary: var(--f-color-background-dark);
  --f-progress-bar-color-secondary: var(--f-color-background-very-light);
  --f-progress-bar-height: var(--f-length-1);
  --f-progress-bar-border-radius: var(--f-length-1);
}
