:root {
  --slider-button-width: var(--f-length-4);
  --slider-button-icon-size: var(--f-length-2);
  --slider-button-border: 0;
  --slider-button-border-radius: 50%;
  --slider-button-background: transparent;
}
