:root {
  --f-header-submenu-padding-y: var(--f-length-4);
  --f-header-submenu-background: var(--f-color-background-very-light);
  --f-header-submenu-color: var(--f-color-text-dark);
  --f-header-submenu-gap: var(--f-length-3);
}
