:root {
  --social-network-gap: var(--f-length-2);
  --social-network-icon-size: var(--f-length-2);
  --social-network-background-color: var(--f-color-primary-light);
  --social-network-color: var(--f-color-black);
  --social-nerwork-background-size: var(--f-length-4);
  --social-nerwork-background-border-radius: 50%;
}
