:root {
  --timeline-step-gap: var(--f-length-2);
  --timeline-step-s-icon-width: var(--f-length-2);
  --timeline-step-m-icon-width: var(--f-length-5);
  --timeline-step-circle-background: var(--f-color-background-very-light);
  --timeline-step-circle-border: solid 1px var(--f-color-border);
  --timeline-step-s-cicle-width: var(--f-length-4);
  --timeline-step-m-cicle-width: var(--f-length-10);
}
